{% macro input_login() %}
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Enviar">
{% endmacro %}

{% macro input_register() %}
    <input type="text" name="username" placeholder="username">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Enviar">
{% endmacro %}

{% macro input_update(value) %}
    <input type="text" name="username" placeholder="username" value="{{value.username}}">
    <input type="email" name="email" placeholder="email" value="{{value.email}}">
    <input type="submit" value="Enviar">
{% endmacro %}

{% macro input_img_folder() %}
    <input type="text" name="namefolder" placeholder="namefolder">
    <input type="file" name="imgfolder" accept=".jpeg,.png,.jpg">
    <input type="submit" value="Enviar">
{% endmacro %}